html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid #000;
  background: #fff;
  background-size: cover; }
  #mainContent div, #mainContent img, #mainContent svg {
    position: absolute; }

#wave2,
#wave3,
#wave4,
#wave5,
#circle2 {
  visibility: hidden; }

#circBg {
  opacity: 0; }

.blueRect {
  fill: #00a8ff;
  top: 0;
  left: 0; }
