@import '_settings';
@import '_config';

body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid $black;
    background: $white ;
    
    background-size:cover;
    div,img, svg{
        position: absolute;
    }
}


#wave2,
#wave3,
#wave4,
#wave5,
#circle2
{
    visibility: hidden;
}
#circBg {
    opacity: 0;
}

.blueRect{
    fill: #00a8ff ;
    top: 0; left: 0;
}